# Object files
*.o
*.ko
*.eep
*.elf
*.hex

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.img

*~.*
*.log

rx1
rx2
gpio-irq-demo
gpio-poll-test
spidev-test
